@import url('../../../../../shell/styles/colors.less');

.Card {
  margin: 1rem;
  h2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    max-width: 100%;
    word-wrap: break-word;
  }
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 10px #8398bd;
  }
  .CardHeader {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    p {
      max-width: 100%;
      word-wrap: break-word;
    }
    .Edit {
      padding: 0.2rem;
      transition: all 0.1s;
      color: lighten(@zesty-gray, 20%);
      font-size: 0.7em;
      &:hover {
        color: @zesty-gray;
      }
    }
    .trash {
      position: absolute;
      top: 8px;
      right: 8px;
      transition: all 0.1s;
      color: lighten(@zesty-gray, 40%);
      &:hover,
      &:active,
      &:focus {
        color: @zesty-red;
      }
    }
    .InviteCode {
      display: flex;
      align-items: baseline;
      .copy {
        margin-left: 0.2rem;
        transition: all 0.2s;
        &:hover,
        &:active,
        &:focus {
          font-size: 1.3rem;
        }
      }
      h3 {
        margin-right: 0.3rem;
      }
    }
  }

  .CardContent {
    display: grid;
    // margin: 0.5rem;
    grid-template-columns: 1fr 5px;
    i {
      margin-right: 0.3rem;
    }
    .remove {
      display: block;
      color: @zesty-light-gray;
      align-self: flex-end;
      justify-self: flex-end;
      transition: all 0.2s;
      &:hover,
      &:focus,
      &:active {
        color: @zesty-red;
      }
    }
    .Admin {
      color: lighten(@zesty-tab-blue, 20%);
      transition: all 0.2s;

      &:hover,
      &:focus,
      &:active {
        color: lighten(@zesty-light-gray, 50%);
      }
    }
    .NotAdmin {
      color: lighten(@zesty-light-gray, 10%);
      &:hover,
      &:focus,
      &:active {
        color: @zesty-orange;
      }
    }
  }
  .Instance {
    display: flex;
    i {
      margin-right: 0.3rem;
    }
  }
  .CardInvite {
    display: grid;
    grid-template-columns: 1.2fr 3fr 0.6fr;
    grid-gap: 0.2rem;
    .admin {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
