@import "../../styles/colors.less";

.Modal {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: .1fr auto;
  position: fixed;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  left: 10vw;
  top: 5vw;
  z-index: 90;
  background-color: @zesty-white;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  .close {
    height: 40px;
    border-radius: 0 0 0 3px;    
  }
}
