.ColumnList {
  display: grid;
  grid-template-columns: 1fr 4fr;

  border-top: 1px solid #d3e1f7;
  margin-top: 0.5rem;
  .List {
    height: 86vh;
    overflow-y: scroll;
    width: 30vw;
    .row {
      display: block;
      font-weight: bold;
      padding: 0.3rem;
    }
  }
  .Overview {
    height: 86vh;
    overflow-y: scroll;
  }
}
