@import '../../../../../shell/styles/colors.less';

.Blueprints {
  .BlueprintList {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-rows: 20rem;
    margin: 1rem 0 0 0;
    article {
      width: 20rem;
      p {
        margin: 1rem 0;
      }
    }
    .BlueprintAction {
      display: flex;
      justify-content: space-between;
    }
  }
  .Create {
    display: grid;
    padding: 0;
    box-shadow: 0 0 5px #d6e1f3;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 10px #8398bd;
    }
    .CardHeader {
      padding: 1rem;
    }
    .CardContent {
      padding: 1rem;
    }
    .CardFooter {
      padding: 1rem;
      button {
        width: 100%;
        text-decoration: none;
      }
    }
  }
}

.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
