@import '../../../shell/styles/colors.less';
.AppHeader {
  align-items: center;
  background-color: @globalHeader;
  display: flex;
  font-size: 0.8em;
  flex-direction: row;
  text-rendering: optimizeLegibility;
  align-items: center;
  height: 5vh;
  max-height: 60px;
  min-height: 30px;
  padding: 0 2rem;
  position: sticky;
  top: 0;

  .logo {
    height: 65%;
    padding: 0.5rem;
  }
}
.GlobalNav {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  a {
    border-left: 1px solid #22293e;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0;
    padding: 0.4rem 0.8rem;
    text-shadow: 0 0 4px #000;
    color: #a7afbf;
    text-align: center;
    line-height: 1.4em;
    &:hover,
    &:focus {
      color: @zesty-white;
    }
  }
  a:last-child {
    border-right: 1px solid #22293e;
  }
}

.HelpNav {
  a {
    color: @zesty-white;
    &:hover,
    &:focus {
      color: @zesty-orange;
    }
  }
  .icon {
    font-size: 1.4rem;
    padding: 0.5rem;
  }
}

.UserNav {
  align-items: center;
  display: flex;
  border-left: 1px solid #22293e;
  border-right: 1px solid #22293e;
  padding: 0.5rem;

  .UserMenu {
    background: @globalHeader;
    display: none;
    padding: 1.2rem 1rem 1rem 1rem;
    position: absolute;
    top: 4.5vh;
    right: 2rem;
    min-width: 120px;
  }

  &:hover {
    .UserMenu {
      display: flex;
      flex-direction: column;
      li {
        list-style: none;
        padding: 0.5rem 0;
        a {
          color: @zesty-white;
          text-decoration: none;
          &:hover,
          &:focus {
            color: @zesty-orange;
          }
        }
      }
      li.user {
        font-size: 1rem;
        border-bottom: 1px solid lighten(@globalHeader, 15%);
        padding-bottom: 1rem;
        margin-bottom: 0.5rem;
        span {
          display: block;
          padding-bottom: 0;
        }
        .email {
          font-size: 0.8rem;
        }
      }
      .logout {
        color: @zesty-white;
        cursor: pointer;

        &:hover,
        &:focus {
          color: @zesty-orange;
        }
      }
    }
  }
}
