.TwoFactor {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  p {
    margin: 0 0 1rem 0;
  }
  .InfoLink {
    margin: 0;
  }
  .PhoneNumberLabel {
    font-weight: bold;
    display: block;
    margin: 0 0 0.1rem 0;
  }
}
