@import url('../../../../../shell/styles/colors.less');

.Card {
  margin: 1rem;
  background-color: @zesty-light-gray;
  h1 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin: .5rem 0;
  }
  .CardContent {
    display: grid;
    margin: 0.5rem;
    grid-template-columns: 1fr 5px;
  }
  .Instance {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  .CardInvite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2rem;
  }
}
