@import url('../../../../../shell/styles/colors.less');

.WebsiteCard {
  display: grid;
  grid-template-rows: 1fr 3fr 35px;
  padding: 0;
  .CardHeader {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    h1 {
      font-size: 1.2em;
    }
    a {
      font-size: 0.9rem;
      margin: 0;
    }
  }

  .cover {
    background-size: cover;
    box-shadow: inset 0px -20px 100px #171b26;
  }

  .CardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 190px;
    font-size: 8rem;
    color: #b2c7d6;

    img {
      max-width: 100%;
    }
  }
  .CardFooter {
    padding: 0;
    .controls {
      display: grid;
      grid-template-columns: 1fr 35px 35px 35px;

      a {
        border-left: 1px solid @zesty-field-blue;
        padding: 9px;
        margin: 0;
        text-align: center;
      }
      a:first-child {
        border: none;
        text-align: left;
        padding: 4px 9px;
      }
    }
  }
}
