@import url('../../../../../shell/styles/colors.less');
.WebsiteCard {
  background: lighten(#f2f4fb, 2.5%);
  margin: 1.5rem;
  max-width: 60rem;
  word-break: break-word;
  display: flex;
  flex-direction: column;

  a:visited,
  a {
    color: #497edf;
    margin: 0;
  }
  header {
    display: flex;
    align-items: top;
    padding: 1rem;
    background: lighten(#f2f4fb, 2%);
    border-bottom: 1px solid #f2f4fb;
    min-height: 45px;
    .name {
      flex: 1;
      h1 {
        font-size: 1.2em;
      }
      a {
        font-size: 0.9rem;
      }
    }
  }
  main {
    border-bottom: 1px solid #f2f4fb;
    padding: 1rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .controls {
      flex: 1;
      display: flex;
      display: grid;
      grid-template-columns: 1fr 20px;
      .manager {
        color: @zesty-orange;
        text-shadow: 1px 1px 0 @white;
      }
    }
  }
}
