.Signup {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .SignupForm {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    max-height: 40rem;
    text-align: center;
    img {height: 100px;}
    h2{margin: 10px 0;}
    p {
      margin-bottom:5px;
      text-align: left;
    }
    button {
      justify-content: center;
      font-size:1.5em;
    }
    .input {
      width: 300px;
      margin-bottom:20px;
      font-size: 1rem;
    line-height: 2.5rem;
    }
    a {
      margin:0;
      text-shadow: none;
    }
  }
}
