@import url('../../../../../shell/styles/colors.less');

.PropertyOverview {
  background: @appBkgColor;
  // padding: 0;
  // overflow-y: scroll;
  // height: 100vh;
  // width: 900px;
  // position: absolute;
  // top: 0;
  // right: 0;
  // z-index: 10;

  .PropertyOverviewHeader {
    padding: 1rem;
    box-shadow: 0px 1px 1px #a2a7b7;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    background: darken(@appBkgColor, 3%);
    // z-index: 30;
  }
  .Cards {
    padding: 1rem;
    // .Card {
    //   margin: 0 0 1.5rem;
    // }
  }
}
.Loading {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

@media (max-width: 780px) {
  .PropertyOverview {
    width: 100vw;
    main {
      padding: 0;
    }
  }
}
