@import '../../../../../shell/styles/colors.less';
.BlueprintCard {
  .BlueprintAction {
    display: flex;
    justify-content: space-between;
  }
  img {
    margin: 0 0 0.5rem;
    width: 100%;
  }
}
