@import '../../../../../../../shell/styles/colors.less';

.Blueprints {
  display: flex;
  padding: 1rem;

  .Create {
    max-width: 30rem;
    border-right: 1px solid @zesty-white;
    margin-right: 1rem;
    padding-right: 1rem;
    p {
      margin: 1rem 0;
    }
  }
  .BlueprintList {
    display: grid;
    flex: 1;
    grid-gap: 1.3rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

    .Blueprint {
      img {
      }
      p {
        margin: 1rem 0;
      }
      .BlueprintAction {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}
