@import '../../../../../shell/styles/colors.less';

.Teams {
  padding: 2rem;

  .TeamsTitle {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
  }

  .Team {
    margin: 0 0 2rem 0;

    .TeamCard {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: 20rem;
    }
    h1 {
      font-size: 1.4rem;
    }
  }
}
