@import '../../../../../shell/styles/colors.less';

.settings {
  padding: 2rem;

  .SettingsTitle {
    font-size: 1.8rem;
    margin: 0 2rem;
  }

  .setting {
    margin: 2rem;

    .SettingCards {
      display: flex;
      article {
        margin-right: 2rem;
      }
      section {
        margin-right: 2rem;
      }
      section:last-child {
        margin: 0;
      }
    }
    h1 {
      font-size: 1.4rem;
    }
  }
}
