@import "../../../../../../shell/styles/colors.less";


.prefs {
  margin: 2rem;
  ol {
    background-color: white;
  }
  li {
    padding: .5rem;
    list-style-type: none;
  }
  li:nth-child(odd) {
    background-color: @zesty-field-blue;
  }
}

