@import url('../../../../../shell/styles/colors.less');
.WebsiteInvite {
  background: #e3e3e5;
  margin: 1.5rem;
  max-width: 60rem;
  word-break: break-word;
  display: flex;
  flex-direction: column;

  a:visited,
  a {
    color: #497edf;
    margin: 0;
  }
  header {
    padding: 1rem;
    // background: lighten(#f2f4fb, 2%);
    border-bottom: 1px solid #f2f4fb;
    min-height: 45px;
    .name {
      font-size: 1.1em;
      .icon {
        margin-right: 5px;
      }
    }
  }
  main {
    padding: 1rem;
    padding-bottom: 0;
    flex: 1;
    a {
      margin: 0;
    }
  }
  footer {
    padding: 1rem;
    padding-top: 0;

    .invite {
      width: 100%;
    }
  }
}
