@import url('../../../../../shell/styles/colors.less');

.WebsiteInvite {
  background: @zesty-tab-blue;
  header {
    border-bottom: 1px solid #5c708a;
    .Name {
      color: @zesty-white;
      font-size: 1.1em;
    }
  }
  main {
    .Preview {
      display: flex;
      align-items: center;
      font-size: 10rem;
      justify-content: center;
      color: #b2c7d6;

      img {
        max-width: 100%;
      }

      &:hover {
        color: @zesty-orange;
      }
    }
  }

  footer {
    border-top: 1px solid #5c708a;
    .Actions {
      .invite {
        flex: 2;
      }
    }
  }
}
