.Blueprint {
  header {
    display: flex;
    flex-direction: row;
    h1 {
      flex: 1;
    }
  }
  main {
    img {
      margin: 0 0 0.5rem;
      width: 100%;
    }
  }
}

.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 4rem;
  width: 60vw;
}
