@import '../../styles/colors.less';

.AppShell {
  background-color: @zesty-white;
  color: #5b667d;
  font-family: 'GibsonRegular', Arial, sans-serif;
  font-size: 1em;
}

.AppMain {
  // height: 94vh;
  // overflow-y: scroll;
  .loaderWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
