@import "../../../../../../shell/styles/colors.less";

.permissionsWrapper {
  display: block;
  width: 100%;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-around;
  
  button {
    margin-top: 1.2rem;
    height: 50px;
  }
}

.modalWrapper {
  margin: 20px;
  .selectCollection {
    display: grid;
    header {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    }
    main {
      display: grid;
      grid-template-rows: auto;
      article {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
        &:nth-child(odd) {
          background-color: @zesty-white;
        }
      }
    }
  }
  .buttons {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr .5fr .5fr;
    justify-items: end;
    button {
      max-width: 150px;
    }
  }
}


.currentRoles {
  display: grid;
  header {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 1rem 0 1rem;
  }
  main {
    display: grid;
    grid-template-rows: auto;
    padding-bottom: 2%;
    article {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      &:nth-child(odd) {
        background-color: @zesty-white;
      }
    }
  }
}
