@import '../../../../../shell/styles/colors.less';

.Support {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  section {
    display: flex;
    flex-direction: row;
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;
      height: 150px;
      width: 200px;
      background-color: @zesty-light-gray;
      :hover {
        background-color: @zesty-light-blue;
      }
      a {
        color: @zesty-gray;
        text-decoration: none;
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
