.GridList {
  height: 86vh;
  overflow-y: scroll;
  .SectionTitle {
    margin: 2rem 0 0 0;
  }
  .siteList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: minmax(10rem, auto);
    margin: 1rem 0 0 0;
  }
  @supports (display: grid) {
    .siteList > * {
      margin: 0;
    }
  }
  .PropertyOverviewModal {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    z-index: 40;
    .PropertyOverviewWrap {
      // background: @appBkgColor;
      padding: 0;
      overflow-y: scroll;
      height: 100vh;
      width: 900px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      .CloseOverview {
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 40;

        padding: 3px;
        background: none;
        border: none;
        font-size: 1.8em;
        margin: 0;
        color: #404c65;
        text-shadow: 1px 1px 1px #fff;
        i {
          margin: 0;
          color: #a7afbf;
        }
      }
    }
  }
}
