.Domain {
  display: flex;
  align-items: center;
  .Name {
    cursor: pointer;
    font-size: 1em;
    i {
      display: none;
      padding: 0.5rem;
    }
    &:hover {
      i {
        display: inline;
      }
    }
  }

  .Edit {
    display: flex;
    align-items: center;
    input {
      line-height: 1.8em;
      margin-right: 0.5rem;
      width: 300px;
    }
    i {
      font-size: 1.4em;
    }
  }
}
