.Domain {
  align-items: center;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 135px;
  grid-gap: 8px;
  padding: 16px 0;
  width: 100%;
  position: relative;

  .Infotip {
    margin-bottom: 8px;
    display: inline-block;
  }

  .DomainInput {
    input {
      display: block;
      width: 100%;
    }
  }

  .Name {
    cursor: pointer;
    i {
      display: none;
      padding: 0.5rem;
    }
    &:hover {
      i {
        display: inline;
      }
    }
  }

  .Edit {
    display: flex;
    align-items: center;
    input {
      margin-right: 8px;
      width: 300px;
    }
  }

  .Dropdown {
    width: 300px;
  }

  .Button {
    width: 135px;
    align-self: end;
  }
}
