.Domain {
  display: flex;
  align-items: center;
  .Name {
    cursor: pointer;
    i {
      display: none;
      padding: 0.5rem;
    }
    &:hover {
      i {
        display: inline;
      }
    }
  }

  .Edit {
    display: flex;
    align-items: center;
    input {
      margin-right: 8px;
      width: 300px;
    }
  }
}
