@import '../../../../../../../shell/styles/colors.less';

.TeamAccess {
  margin: 0 0 1.5rem;
  p {
    margin: 1rem 0;
    max-width: 40rem;
  }

  .addCompany {
    display: flex;
    padding: 0 0 1rem;
    input {
      flex: 1;
      margin-right: 1rem;
    }
    button {
      margin-left: 1rem;
      max-width: 150px;
      grid-area: button;
    }
  }

  .companyTable {
    padding: 1rem 0 0;
    header {
      display: grid;
      justify-items: start;
      grid-auto-flow: row;
      grid-template-columns: 1fr 2fr 0.5fr;
      padding: 0 0.5rem 0.5rem;
      h3 {
        font-size: 1em;
      }
    }
    main {
      display: grid;
      grid-template-rows: auto;
      article {
        i {
          font-size: 1.1rem;
          margin: 0.4rem;
          color: @zesty-light-grey;
          cursor: pointer;
        }
        display: grid;
        padding: 0.5rem;
        grid-template-columns: 1fr 2fr 0.5fr;
        &:nth-child(odd) {
          background-color: @zesty-white;
        }
        .trash {
          transition: all 0.1s;
          color: lighten(@zesty-gray, 40%);
          &:hover,
          &:focus {
            color: @zesty-red;
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
  .info {
    color: #607394;
    display: block;
    // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    overflow-y: visible;
    position: relative;
    max-width: 668px;
    background: #dfeeff;
    color: #2e436b;
    border: solid 1px #a2bbd8;
    border-radius: 4px;
  }
}
