@import '../../../../../../../shell/styles/colors.less';

.companyAccess {
  h2 {
    margin: 20px 0;
  }
  p {
    margin: 1rem 0;
    max-width: 40rem;
  }

  .addCompany {
    display: flex;
    padding: 0 0 1rem;
    input {
      flex: 1;
    }
    button {
      margin-left: 1rem;
      max-width: 150px;
      grid-area: button;
    }
  }

  .companyTable {
    display: grid;
    padding: 1rem 0 0;
    header {
      display: grid;
      justify-items: start;
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr 1fr 0.5fr;
      padding: 0 0.5rem 0.5rem;
    }
    main {
      display: grid;
      grid-template-rows: auto;
      padding-bottom: 2%;
      article {
        display: grid;
        padding: 0.5rem;
        grid-template-columns: 1fr 1fr 1fr 0.5fr;
        &:nth-child(odd) {
          background-color: @zesty-white;
        }
      }
    }
  }
  .info {
    color: #607394;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    overflow-y: visible;
    position: relative;
    max-width: 668px;
    background: #dfeeff;
    color: #2e436b;
    border: solid 1px #a2bbd8;
    border-radius: 4px;
  }
}
