@import '../../../../../../../shell/styles/colors.less';

label {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #5b667d;
  margin: 1rem;
}
.descriptionWrapper {
  display: flex;
  width: 100%;
  textarea {
    font-size: 14px;
    margin: 1rem;
    border: solid 1px #ccc;
    background-color: #eee;
    color: #777;
    width: 30vw;
    height: 100px;
  }

}

.blueprints {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
