@import url('../../../../../shell/styles/colors.less');

.Card {
  section {
    margin: .5rem 0;
  }
  label {
    display: block;
  }
  margin: 1rem;
  .CardContent {
    margin: 0.5rem;
  }
  .inviteInputs {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
  }
  .addMember {
    margin:.5rem;
  }
}
