@import url('../../../../../shell/styles/colors.less');

.Card {
  margin: 1rem;
  .CardContent {
    margin: 0.5rem;
  }
  .inviteInputs {
    display: flex;
    flex-direction: column;
  }
  .addMember {
    display: grid;
    margin: 0.5rem;
    grid-template-columns: 0.1fr 0.6fr;
    justify-items: center;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
      color: @zesty-green;
    }
  }
}
