@import '../../../../../../../shell/styles/colors.less';

.Profile {
  background: #fcfcfe;
  max-width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1rem;
  width: 100%;
  
  main {
    flex: 1;
    margin: 1rem 0;
    .gravatar {
      margin-bottom: 0.5rem;
    }
    input {
      min-width: 20rem;
      margin: 0 0 0.5rem 0;
    }
  }
}
