.Billing {
  padding: 2rem;
  height: 86vh;
  overflow-y: scroll;

  .BillingTitle {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
  }
  .Description {
    max-width: 50rem;
  }
}

.CreditCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;

  .CreditCard {
    min-width: 400px;
    margin: 0 16px 16px 0;

    .AddBilling {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .CardContent {
      margin: 16px 0;

      p {
        margin: 4px 0;
      }
      strong {
        display: block;
      }
    }
  }
}
