@import '~@zesty-io/core/colors.less';

.Preferences {
  display: flex;
  flex-direction: column;
  margin: 0 !important;

  // display: flex;
  // flex-direction: column;
  // min-height: 15rem;
  // margin: 1rem 0;
  // .CardHeader {
  //   margin-bottom: 1rem;
  // }
  .CardContent {
    .PrefItem {
      display: flex;
      // margin: 1rem;
      margin: 8px 0;
      justify-content: space-between;
    }
  }
}
